*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(250, 250, 250);
}
hr{
    border-top: 2px dashed #8c8b8b;
    outline:1px dashed #8c8b8b;
}
#band{
    width: 100%;
    display: block;
    /* height: auto; */
}
.card-img-top {
    width: 100%;
    height: 55px;
    padding-top: 15px;
}
#product{
    margin-bottom: 25px;
}